<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- build:remove -->
    <base href="/">
    <!-- endbuild -->

    <!-- build:css assets/css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css assets/css/styles.css -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <!-- endbuild -->
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
    
    <title>Sample Angular application with gulp</title>
</head>
<body ng-app="app">
    
    <ui-view></ui-view>

<!-- build:js assets/js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js(.tmp) assets/js/scripts.js -->
<script src="assets/js/scripts.js"></script>
<!-- endbuild -->
</body>
</html>
